body {
    background-color: #2a2c24;
    color: #cfcfea;
  }
  #app {
    font-family: "Montserrat", sans-serif;
    font-family: "Open Sans", sans-serif;
  }
  
  .app {
    display: flex;
    flex-direction: column;
  }
  .search-area {
    align-self: center;
    padding: 15px;
  }
  #query {
    padding: 5px;
    width: 500px;
    height: 35px;
    border-radius: 10px;
    font-size: 30px;
    margin: 5px;
  }
  .search {
    height: 35px;
    margin: 5px;
    font-size: 20px;
  }
  .result-area {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .result {
    align-self: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    height: 30px;
    width: 700px;
    font-size: 20px;
    background-color: #a49694;
    border-radius: 10px;
  }
  .result:hover {
    background-color: #908280;
    height: 50px;
    width: 700px;
    font-size: 40 px;
  }
  .result:hover .result-image {
    height: 50px;
    width: 50px;
  }
  .result-image {
    height: 30px;
    width: 30px;
    margin-right: 50px;
  }
  .select {
    padding: 5px;
    margin: 5px;
    width: 150px;
    font-size: 20px;
  }
  